.body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
    align-content:center;
}
.body-content {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    color: chocolate;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
    align-content: center;
}

.div {
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}