* {
    box-sizing: border-box;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
body {
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: 140px 1fr 70px;
    grid-template-columns: 25% 1fr 20%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    height: 100vh;
    margin: 0;
}

footer, nav, div {
    padding: 20px;
    background: cornflowerblue;
    color: #f2f2f2;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align:top;

}
div.aboutproj {
        font-family: "Lobster", serif;
        vertical-align: bottom;
        align-self: center;
        display: inline-block;
    }

td.head {
    padding-left: 60px;
    font-family: "Lobster", serif;
    vertical-align: central;
}
marquee {

    font-size: 80px;
    font-weight: 800;
    color: lightsteelblue ;

}

header, article {
    padding: 0px;
    background: cornflowerblue;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    font-family: Calibri;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active {
    background-color: #717171;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}


/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body {
        grid-template-areas: "header" "article" "ads" "nav" "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
